NET "CPU_clock"			  LOC = P126;
 
NET "CPU_reset"			LOC = P24   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

NET "CPU_in[0]"			LOC = P35	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_in[1]"			LOC = P34	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_in[2]"			LOC = P33	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_in[3]"			LOC = P32	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_in[4]"			LOC = P30	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_in[5]"			LOC = P29	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_in[6]"			LOC = P27	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_in[7]"			LOC = P26	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

NET "CPU_out1[0]"			LOC = P119   | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out1[1]"			LOC = P118	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out1[2]"			LOC = P117	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out1[3]"			LOC = P116	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out1[4]"			LOC = P115	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out1[5]"		 	LOC = P114	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out1[6]"		 	LOC = P112	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out1[7]"			LOC = P111	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

NET "CPU_out2[0]"			LOC = P48	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out2[1]"			LOC = P23	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out2[2]"			LOC = P22	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out2[3]"			LOC = P21	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out2[4]"			LOC = P17	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out2[5]"			LOC = P16	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out2[6]"			LOC = P15	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "CPU_out2[7]"			LOC = P14	| IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
